<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="logo header__logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu header__menu">
                <li class="menu__item">
                    <a href="#" class="menu__link">Pricing</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Use Cases</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">Book a Demo</a>
                </li>
                <div class="header__menu_close"></div>
            </ul>
            <div class="header__group">
                <a href="#" class="signIn">Sing In</a>
                <button type="button" class="custom-button header__custom-button">Contact sales</button>
            </div>
            <button type="button" class="burger">
                <img src="images/burger_icon.png" alt="menu">
            </button>
        </div>
    </div>
    <div class="popup">
        <div class="popup__image">
            <img src="images/pic.png" alt="picture">
        </div>
        <div class="popup__info">
            <img src="images/popup__close.png" alt="close" class="popup__close">
            <div class="popup__title">How to do a Website Audit to Improve SEO & Conversions</div>
            <div class="popup__description">You will get an SMS with a link to the webinar</div>
            <form action="#" class="popup__form" method="post">
                <label class="popup__label">
                    <span class="popup__input-name">Name</span>
                    <input type="text" name="name" placeholder="Boris Johnson" class="popup__input popup__input-n">
                    <span class="popup__alarm hide">Check name field</span>
                </label>
                <label class="popup__label">
                    <span class="popup__input-name">Phone</span>
                    <input type="text" id="phone" name="phone" autofocus="true" placeholder="XX XXX XXXX" class="popup__input popup__input-ph">
                    <span class="popup__alarm hide">Check phone field</span>
                </label>
                <div class="popup__buttons">
                    <button type="button" class="custom-button popup__custom-button" disabled>Support</button>
                    <button type="button" class="custom-button popup__custom-button">Contact sales</button>
                </div>
                <div class="popup__group">
                    <input type="checkbox" name="popup__checkbox" class="custom-checkbox" id="custom-checkbox">
                    <label for="custom-checkbox" class="popup__label-check"></label>
                    <div class="popup__group-text">
                        By sending up? you agree to our <span>Conditions</span> and <span>Privacy Policy</span> 
                    </div>
                </div>
            </form>
            <div class="popup__logo">
                <a href="index.html">
                    <img src="images/popup__logo.png" alt="logo">
                </a>
            </div>
        </div>
    </div>
</header>