<section class="slider">
    <div class="container">
        <div class="slider__top">
            <div class="slider__title"> <span>6 Reasons</span> to Use Plerdy Data for a Website Usability Audit</div>
            <div class="slider__nav">
                <img src="images/prev.png" alt="prev">
                <img src="images/prev.png" alt="next">
            </div>
        </div>
    </div>

    <div class="slider__items">
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">You will benefit from our SaaS marketing product</h5>
                <h6 class="slider__item-description">Our team has developed a powerful tool to audit website content – a heatmap that features more than 100 reports for e-marketers and business owners.</h6>
                </div>
            <div class="slider__item-count">1</div>
        </div>
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">We have 10+ years of experience in digital marketing</h5>
                <h6 class="slider__item-description">The Plerdy team has rich experience in auditing, analyzing, and improving eCommerce websites to boost their conversion rates. So we are well aware of all the weak spots of eCommerce websites and know what data you need to run a usability audit of your website.</h6>
                </div>
            <div class="slider__item-count">2</div>
        </div>
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">We enable generating hypotheses about what leads to low website conversions</h5>
                <h6 class="slider__item-description">Thanks to the data gathered with the Plerdy heatmap about your website visitors’ behavior, you can generate hypotheses that potentially explain which functional flaws and problems are causing a low conversion on your website and how.</h6>
                </div>
            <div class="slider__item-count">3</div>
        </div>
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">The analysis of the dynamic elements of the website</h5>
                <h6 class="slider__item-description">Some services disregard such an important aspect as the clickability analysis of the dynamic elements when UX auditing, including drop-down menu, pop-up, and slider. However, thanks to the unique Plerdy auditing functionality, you will receive this information.</h6>
                </div>
            <div class="slider__item-count">4</div>
        </div>
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">The analysis of both the desktop and mobile versions of the website</h5>
                <h6 class="slider__item-description">In some areas, websites generate more than 60% of the traffic from their mobile versions, so it would be unwise not to audit the behavior of mobile users. With the Plerdy heatmap, you can run a UX auditing analysis separately for the desktop and mobile versions of your website.</h6>
                </div>
            <div class="slider__item-count">5</div>
        </div>
        <div class="slider__item">
            <div class="slider__item_content">
                <h5 class="slider__item-title">You will benefit from our SaaS marketing product</h5>
                <h6 class="slider__item-description">Our team has developed a powerful tool to audit website content – a heatmap that features more than 100 reports for e-marketers and business owners.</h6>
                </div>
            <div class="slider__item-count">6</div>
        </div>
    </div>
    {{!-- <div class="container"> --}}
        <div class="slider__bottom">
            <button type="button" class="custom-button slider__custom-button">Boost my website conversion</button>
            <span class="slider__bottom-text">So, it’s high time for you to stop losing 99% of potential clients due to being unaware of your website users’ behavior patterns and needs.</span>
        </div>
    {{!-- </div> --}}
</section>