<!DOCTYPE html>
<html lang="en">
<head>
    <title>new project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/active.png">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/slick/slick.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery-1.11.0.min.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="js/counties.js"></script>
<script src="js/phonecode.js"></script>
<script>
    $(function(){
        $('#phone').phonecode({
            preferCo: 'ua'
        });
    });
</script>
</head>
<body>
        {{> blocks / header}}
        {{> blocks / main}}
        {{> blocks / slider}}
    
	<script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/slick/slick.min.js"></script>
    <script src="js/jquery.maskedinput.js"></script>
    <script src="js/app.js"></script>
</body>
</html>